{
  "semi": false,
  "printWidth": 100,
  "endOfLine": "auto",
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "plugins": ["./node_modules/prettier-plugin-solidity"],
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
