/* *, ::after, ::before {
    box-sizing: border-box;
} */

.multiSelectContainer {
  position: relative;
  text-align: left;
  width: 100%;
}

.disable_ms {
  pointer-events: none;
  opacity: 0.5;
}

.searchWrapper {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px;
  min-height: 22px;
  position: relative;
  display: flex;
  align-items: center;
}

.multiSelectContainer input {
  border: none;
  margin-top: 3px;
  background: transparent;
}

.multiSelectContainer input:focus {
  outline: none;
}

.chip {
  padding: 4px 10px;
  background: #0096fb;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 11px;
  display: inline-flex;
  align-items: center;
  line-height: 19px;
  color: #fff;
  white-space: nowrap;
}

.singleChip {
  background: none;
  border-radius: none;
  color: inherit;
  white-space: nowrap;
  margin-bottom: 0;
}

.singleChip i,
.singleChip img {
  display: none;
}

.closeIcon {
  font-size: xx-small;
  line-height: 2;
  float: right;
  margin-left: 8px;
  margin-right: 4px;
  cursor: pointer;
  opacity: 0.7;
}

.closeIcon:hover {
  opacity: 1;
}

.optionListContainer {
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  margin-top: 1px;
  z-index: 2;
}

.multiSelectContainer ul {
  display: block;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selectedListContainer {
  margin-bottom: 10px;
}

.selectedListContainer .option {
  cursor: default;
}

.multiSelectContainer li {
  padding: 8px 8px;
}

.optionContainer li:hover {
  background: #0096fb;
  color: #fff;
}

.optionContainer .option {
  cursor: pointer;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
  transform: scale(1.2);
}

.disableSelection {
  pointer-events: none;
  opacity: 0.5;
}

.highlightOption {
  background: #0096fb;
  color: #ffffff;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.notFound {
  padding: 10px;
  display: block;
}

.singleSelect {
  padding-right: 20px;
  display: flex;
}

li.groupHeading {
  color: #908e8e;
  pointer-events: none;
  padding: 5px 15px;
}

li.groupChildEle {
  padding-left: 30px;
}

.icon_down_dir {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-70%) scale(2, 1);
  cursor: pointer;
}

.custom-close {
  display: flex;
}
