body {
  padding: 30px;
}

h3 {
  margin: 30px;
}

.formField {
  margin: 10px 0 10px 0;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px transparent solid;
  border-bottom: 1px gray solid;
}

.block {
  display: block;
  width: 100%;
}

.formLabel {
  font-size: 1rem;
  font-family: sans-serif;
  color: gray;
  display: block;
}

.block .input-addon-container {
  width: 100%;
}

.errorSpan {
  font-size: 0, 8rem;
  font-family: sans-serif;
  color: red;
  display: block;
  margin-bottom: 20px;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: gray;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: gray;
}
